@model CarRental.Shared.DTO.PostCarMaintenanceDTO

<h1>Create Car Maintenance</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CarId" class="control-label"></label>
        <input asp-for="CarId" class="form-control" />
        <span asp-validation-for="CarId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceDate" class="control-label"></label>
        <input asp-for="ServiceDate" class="form-control" />
        <span asp-validation-for="ServiceDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost" class="control-label"></label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </div>
</form>