@model CarRental.Shared.DTO.PaymentDTO

<h1>Create Payment</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="RentalId" class="control-label"></label>
        <input asp-for="RentalId" class="form-control" />
        <span asp-validation-for="RentalId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Method" class="control-label"></label>
        <input asp-for="Method" class="form-control" />
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>